.ShopItem {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-color: black;
}

.SearchBar{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.search{
  font-size: 30px;
}

.searchButton{
  font-size: 30px;
}

.ShopPage{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  gap: 5px;
}

.CartButton{
  font-size: 30px;
  background-color: red;
  color: white;
}

.addCart{
  padding: 10px;
  background: grey  ;
  color: white;
  border-radius: 10px;
}

.CenterCart{
  background-color: cornsilk;
}

.shop-cart-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cart-item-wrapper{
  display: flex;
  flex-direction: row;
}

.cart-details{
  display: flex;
  flex-direction: column;
}

.cart-item-box{
  border: 2px solid black;
  list-style-type: none;
}